apiVersion: v1
clusters:
- cluster:
    server: https://{{ hostvars[groups['master'][0]]['ansible_default_ipv4']['address'] }}:6443
    certificate-authority: {{ local_certs_dir }}/server-ca.crt
  name: local
contexts:
- context:
    cluster: local
    namespace: default
    user: user
  name: Default
current-context: Default
kind: Config
preferences: {}
users:
- name: user
  user:
    client-certificate: {{ local_certs_dir }}/client-admin.crt
    client-key: {{ local_certs_dir }}/client-admin.key
